// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-jaguar:                  #262733;
$color-jaguar-2:                #272733;
$color-summer-sky:              #43ABF0;
$color-summer-sky-2:            #3E9CDC;
$color-dolphin:                 #6F6D7B;
$color-black-russian:           #2A2B30;
$color-black-russian:           #2A2B30;
$color-pattens-blue:            #DFE9EF;
$color-silver:                  #BBBBBB;
$color-endeavour:               #286690;
$color-silver-2:                #C4C4C4;
$color-blue-zodiac:             #3D4050;
$color-silver-3:                #C3C3C3;
$color-summer-sky-3:            #42A9ED;


// Hover

$hover-opacity: 0.7;
$active-opacity: 0.5;

// Typography
//---------------------------------

$font-family--lato:                     "Lato", "Arial", sans-serif;

// Animation
//---------------------------------

$trans-default:       0.5s ease;
$after-transition-settings:         opacity 0.5s, visibility 0s;

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1440:                          1440px;
