.select {
  position: relative;

  padding: 0;
  width: 100%;

  @include vp--1023 {
    margin-bottom: 20px;
  }

  &__toggle {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 48px;
    padding: 10px;

    font-size: 18px;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $color-jaguar-2;
    border: 1px solid $color-default-white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.85);

    outline: none;
    cursor: pointer;

    transition: border $trans-default, border-radius $trans-default;

    &:hover {
      border: 1px solid $color-summer-sky;
    }

    &::after {
      content: '';
      flex-shrink: 0;
      margin-left: auto;

      transition: transform $trans-default;

      border: solid $color-default-black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }
  }

  &__dropdown {
    position: absolute;
    bottom: 20px;
    z-index: 2;

    width: 100%;
    height: auto;
    max-height: 180px;
    padding: 3px 10px;

    background-color: $color-jaguar;
    overflow-y: auto;

    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility $trans-default, opacity $trans-default;

    @include vp--1023 {
      bottom: 0;
    }
  }

  &__options {
    @include list-reset;
  }

  &__option {
    outline: none;
    cursor: pointer;

    transition: background-color $trans-default;

    font-size: 18px;
    line-height: 34px;

    &:not(:last-of-type) {
      padding-bottom: 10px;
    }

    @media (hover: hover),
    screen and (min-width: 0\0) {

      &:hover,
      &:focus {
        color: $color-summer-sky-3;
      }
    }
  }

  * {
    scrollbar-width: 7px;
    scrollbar-color: $color-summer-sky-2 $color-blue-zodiac;
  }

  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: $color-blue-zodiac;
    border-radius: 3px;

    margin-top: 3px;
    margin-bottom: 4px;
    scroll-margin-right: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $color-summer-sky-2;
    border-radius: 3px;
  }
}

.select_show {
  .select__dropdown {
    visibility: visible;
    opacity: 1;

    border-radius: 0px 0px 3px 3px;
    border: 1px solid $color-blue-zodiac;
    border-top: none;
  }

  .select__toggle {
    color: $color-default-white;
    background: rgba(61, 64, 80, 0.85);
    border-radius: 3px 3px 0px 0px;
    border: 1px solid $color-blue-zodiac;
    border-bottom: none;
  }

  .select__toggle::after {
    border-color: $color-default-white;
    transform: rotate(225deg);
  }
}
